/* Color Theme Swatches in Hex */
.Vector-Pokemon-1-hex { color: #F2778D; }
.Vector-Pokemon-2-hex { color: #BF5486; }
.Vector-Pokemon-3-hex { color: #123E59; }
.Vector-Pokemon-4-hex { color: #0596A6; }
.Vector-Pokemon-5-hex { color: #F2F2F0; }

/* Color Theme Swatches in RGBA */
.Vector-Pokemon-1-rgba { color: rgba(242, 118, 141, 1); }
.Vector-Pokemon-2-rgba { color: rgba(191, 84, 134, 1); }
.Vector-Pokemon-3-rgba { color: rgba(17, 61, 89, 1); }
.Vector-Pokemon-4-rgba { color: rgba(4, 149, 165, 1); }
.Vector-Pokemon-5-rgba { color: rgba(242, 241, 239, 1); }

/* Color Theme Swatches in HSLA */
.Vector-Pokemon-1-hsla { color: hsla(348, 82, 70, 1); }
.Vector-Pokemon-2-hsla { color: hsla(331, 45, 54, 1); }
.Vector-Pokemon-3-hsla { color: hsla(202, 66, 20, 1); }
.Vector-Pokemon-4-hsla { color: hsla(185, 94, 33, 1); }
.Vector-Pokemon-5-hsla { color: hsla(50, 8, 94, 1); }